body {
    width: 100%;
    height: 100%;
    background-image: url("../circleEdit.png");
    background-size: 52%;
    background-repeat: no-repeat;
}

a{
    background-color: rgba(12,204, 85, 1);
    padding: 5px;
    color: whitesmoke;
    text-decoration: none;
}

.row {
    width: 100%;
    height: 100%;
}

.col-6{
    height: 95vh;
}

.textBox{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
h1 {
    text-align: center;
    font-family: 'BioRhyme', serif;
    font-size: 45px;
}
p {
    text-align: center;
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
}
.signUp {
    text-align: center;
    font-family: 'Cabin', sans-serif;
}
.signUp:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.login {
    position: absolute;
    top:0;
    right:0;
    font-family: 'Cabin', sans-serif;
}

@media (max-width: 376px) {
    .textBox{
        width: 100%;
        margin-left: -300px;
        margin-top: 50px;
    }
    .box{
        width: 
    }
}